<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114982756-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114982756-1');
    </script>

  </head>
  <body>
    <main id="root">
    </main>

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

    <script>
      // Get Sendgrid apiKey
      echo "export SENDGRID_API_KEY='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'" > sendgrid.env
      echo "sendgrid.env" >> .gitignore
      source ./sendgrid.env
    </script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyANG-gseZGcnTmUsnTemMQM1Zr9ah7ob4o",
        authDomain: "fitormiss-54b25.firebaseapp.com",
        databaseURL: "https://fitormiss-54b25.firebaseio.com",
        projectId: "fitormiss-54b25",
        storageBucket: "fitormiss-54b25.appspot.com",
        messagingSenderId: "1068495912776"
      };
      const app = firebase.initializeApp(config);

      app.auth().onAuthStateChanged((user) => {
        if (user) {
          getUserType(user.uid);
        } else { window.user = null }
      }).bind(this);

      getUserType = function(user) {
        firebase.database().ref('user_type').orderByKey().equalTo(user).on('value', snap => {
          window.user = snap.val()[user];
        })
      }


    </script>
    <!-- Load Stripe -->
    <script>
    // <!-- src="https://js.stripe.com/v3/"> -->
    // Stripe.api_key = 'pk_test_UAp7yozrCLE5cUKw1lyzIc54'
  </script>


    <script>
      // get images
      window.images = {
        profile: '<%= image_path("profile.png") %>',
        logo: '<%= image_path("logo.png") %>',
        cvc: '<%= image_path("cvc.png") %>',
        splash: '<%= image_path("splash.jpg") %>',
        logoNoBackground: '<%= image_path("logoNoBackground.png") %>'
      }
    </script>


  </body>
</html>
