<!DOCTYPE html>
<html>
  <head>
    <title>FitOrMiss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      Stripe.api_key = ENV['publishable_key']
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
